.idea/
__pycache__/
some_Nii_Dataset/
xiangya_Dataset_origin/
some_Nii_Dataset_origin/
Registration_Dataset/
xiangya_Dataset/
RAI_xiangya_Dataset/
skull_stripped_out/
test_data/*
!test_data/.gitkeep
data/
